* {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.blurb div {
	border-style: groove;
	background-color: yellow;
	overflow: scroll; 
}

.vertex.tac text {
	text-anchor: end;
}

.vertex.asoiaf text {
	text-anchor: start;
}

.vertex.selected text {
	font-weight: bold;
}

line.edge {
	stroke: LightGray;
	stroke-width: 2px;
	pointer-events: none;
}

line.edge.active {
	stroke: black;
	pointer-events: auto;
}

line.edge.active.selected {
	stroke-width: 4px;
}



