* {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

#side-panel {
	border-style: solid;
	width: 350px;
	float: left;
}

i {
    font-family: inherit;
}

h1, h2 {
	font-family: 'MedievalSharp', cursive;
}

.blurb div {
	border-style: groove;
	background-color: yellow;
	overflow: scroll; 
}

.vertex * {
	cursor: pointer;
}

.vertex.tac text {
	text-anchor: end;
}

.vertex.asoiaf text {
	text-anchor: start;
}

.vertex.selected text {
	font-weight: bold;
}

line.edge {
	stroke: black;
	opacity: .25;
	stroke-width: 2px;
	pointer-events: none;
}

line.edge.active {
	opacity: 1;
	pointer-events: auto;
}

line.edge.active.selected {
	stroke-width: 4px;
}



