html {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

body {
    background-image: url("fleur_de_lis.svg");
	background-size: 17%;
}

body > div {
    width: 1300px; /* Big enough to fit everything*/
	overflow-x: scroll;
}


#graphic, #side-panel {
    border-style: solid;
	float: left;
	overflow-y: scroll;
	background-image: url("concrete_seamless.png");
	overflow-y: scroll;
	margin: 5px;
}

#graphic {
    width: 820px;
}

#side-panel {
	width: 350px;
}

#side-panel div {
    clear: both;
	padding-bottom: 10px;
}

#side-panel img {
	width: 100px;
	padding: inherit;
}

#selected-char img {
    float: left;
	padding-right: 10px;
}

#connected-char img {
    float: right;
    padding-left: 10px;
}

h1, h2 {
	font-family: 'MedievalSharp', cursive;
}

h1 {
    font-size: 36pt;
}

.vertex circle {
    cx: 0;
	cy: 0;
}

.vertex * {
	cursor: pointer;
}

.vertex.tac text {
	text-anchor: end;
}

.vertex.asoiaf text {
	text-anchor: start;
}

.vertex.selected text {
	font-weight: bold;
}

line.edge {
	stroke: black;
	opacity: .25;
	stroke-width: 2px;
	pointer-events: none;
}

line.edge.active {
	opacity: 1;
	pointer-events: auto;
	cursor: pointer;
}

line.edge.active.selected {
    stroke: blue;
	stroke-width: 4px;
}
